/* font-family: 'Bruno Ace', cursive;  */
/* font-family: 'Mulish', sans-serif;
   font-family: 'Open Sans', sans-serif; */

* {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: rgb(207, 200, 210); */
  background: linear-gradient(180deg, white, #b033cc55);
  min-height: 100vh;
}
body,
button,
footer {
  font-family: 'Open Sans', sans-serif;
}

.page {
  width: 1000px;
  margin: 0 auto;
 padding-top: 65px;
}

/* navegação */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
}

ul li a {
  opacity: 0.5;
}

a {
  color: #1f1534;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  opacity: 1;
}

/* navegação */

/* Parte da logo */

.logo {
  font-family: 'Bruno Ace', cursive;
  color: #af2ecc;
}

h1 span {
  color: #af2ecc;
  font-weight: bold;
}

.letra {
  color: black;
}

/* parte da logo */

/* conteúdo */

h1 {
  font-size: 49px;
  font-weight: normal;
  line-height: 56px;
  color: #1a1a1a;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,
ul {
  font-family: 'Mulish', sans-serif;
}

p {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 28px;
  margin: 40px 0;
}

/* conteúdo */

/* botão */
button {
  color: white;
  background-color: #b140ca;
  text-transform: uppercase;
  font-size: 16px;

  padding: 14px 32px 15px;
  border-radius: 4px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

button:hover {
  background-color: #9705b8;
}

#icone {
  width: 24px;
}
/* botão */

/* footer */

footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  margin-top: 80px;
}

footer a {
  font-weight: bold;
}

/* footer */

/* imagem sobreposta */
#fixed {
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* imagem sobreposta */
